@use 'reset';
@use 'variables/mixins';
@use 'variables/global';

body {
  @include mixins.default-app;
}

.app {
  min-height: 100vh;
}

.page-wrapper {
  max-width: 1080px;
  overflow: hidden;
  margin: 0 auto;
}

.line {
  margin: 4.5rem 0;
  height: 1px;
  background: global.$gray;
}
