@use '@/app/styles/variables/global';

.FlashSales {
  margin-top: 4rem;
  font: global.$font-m;
}

.timer {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: global.$font-size-l;

  p {
    font-weight: 600;
  }
}

.link {
  font-size: 14px;
}

.centerWrapper {
  display: flex;
  justify-content: center;
}

.btns {
  position: absolute;

  display: flex;
  gap: 10px;
  right: 1rem;
}