@use '@/app/styles/variables/global';
@use '@/app/styles/variables/variables';

.Navbar {
  font: global.$font-s;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: global.$navbar-height;
}

.links {
  display: flex;
  gap: 2rem;
}

.shopName {
  color: variables.$app-color;
  font: global.$font-l;
}

.rightSide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon img {
  opacity: 0.7;
  height: 26px;

  &:hover {
    opacity: 1;
  }
}