@use '@/app/styles/variables/global';

.Navbar {
  font: global.$font-s;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: global.$navbar-height;
}

.links {
  display: flex;
  gap: 2rem;
}

.shopName {
  font: global.$font-l;
}