@use '@/app/styles/variables/global';

.title {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;

  .head {
    font-size: 16px;
    margin-left: 1rem;
    font-weight: 600;
    color: global.$red;
  }

  .box {
    width: 15px;
    height: 35px;
    border-radius: 5px;
    background: global.$red;
  }
}