@use '@/app/styles/variables/global';

.PageNavigation {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font: global.$font-s;
  padding-right: 5rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }

  li {
    list-style-type: none;

    &:hover {
      cursor: pointer;
    }
  }
}