@use '@/app/styles/variables/global';

.MainPage {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: calc(100vh - #{global.$navbar-height} - #{global.$footer-height} - #{global.$header-height});
}

.navWithSlide {
  display: flex;
  justify-content: space-between;

  img {
    margin-top: 20px;
    width: 70%;
  }
}