@use '@/app/styles/variables/global';
@use '@/app/styles/variables/mixins';

.MainPage {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: global.$min-page-height;
}

.navWithSlide {
  display: flex;
  justify-content: space-between;

  img {
    margin-top: 20px;
    width: 70%;

    &:hover {
      cursor: pointer;
    }
  }
}