@use '@/app/styles/variables/global';
@use '@/app/styles/variables/variables';

.AppLink {
  text-decoration: none;
  border: 1px solid transparent;
  transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out, border 0.2s ease-in-out;
  opacity: 1;
}

.headers {
  color: black;
  opacity: .7;

  &:hover {
    opacity: 1;
    border-bottom: 1px solid global.$gray;
  }
}

.clear {
  color: #111111;
}

.navs {
  color: black;
  opacity: 1;

  &:hover {
    opacity: 0.65;
    border: 1px solid transparent;
  }
}

.background {
  background: global.$red;
  padding: 5px 40px;
  border-radius: 5px;
  color: variables.$inverted-app-color;

  &:hover {
    background: variables.$inverted-app-color;
    color: global.$red;
    border: 1px solid global.$red;
    opacity: 1;
  }
}

